.avatar {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.avatar__image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.avatar__info {
  margin-left: .5rem;
}
.avatar__name {
  margin: 0;
  margin-bottom: .2rem;
  font-size: 1rem;
}
.avatar__email {
  margin: 0;
  font-size: .8rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout, .login {
  all: unset;
  background-color: deeppink;
  color: white;
  padding: .5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: .25rem;
  cursor: pointer;
}

.login {
  background-color: rgb(37, 40, 40);
  display: ;
}